jvimalprasathdev/src/flows/Call_Capture_Lead_Lookup-5.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>Email_Search</name>
        <choiceText>Email Search</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>EMAIL SEARCH</stringValue>
        </value>
    </choices>
    <choices>
        <name>Name_Search</name>
        <choiceText>Name Search</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NAME SEARCH</stringValue>
        </value>
    </choices>
    <choices>
        <name>Not_Found</name>
        <choiceText>Not Found</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </choices>
    <choices>
        <name>Phone_Search</name>
        <choiceText>Phone Search</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PHONE SEARCH</stringValue>
        </value>
    </choices>
    <constants>
        <name>conFlowStarted</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Flow Started - Never Completed</stringValue>
        </value>
    </constants>
    <constants>
        <description>No Information Provided</description>
        <name>conNoInfoProvided</name>
        <dataType>String</dataType>
        <value>
            <stringValue>No Information Provided</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Lead_Selected</name>
        <label>Lead Selected?</label>
        <locationX>336</locationX>
        <locationY>415</locationY>
        <defaultConnector>
            <targetReference>CCF_Subflow_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Lead_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLeadID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Lead</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Process_Search_Screen_Output</name>
        <label>Input Provided?</label>
        <locationX>334</locationX>
        <locationY>130</locationY>
        <defaultConnector>
            <targetReference>Input_Required_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Name_Search_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_of_Search</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Name_Search</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Search_Criteria</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CC_Lookup_Name</targetReference>
            </connector>
            <label>Name</label>
        </rules>
        <rules>
            <name>Email_Search_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_of_Search</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Email_Search</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Search_Criteria</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CC_Lookup_Email</targetReference>
            </connector>
            <label>Email</label>
        </rules>
        <rules>
            <name>No_Info_Selected_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>No_Info_Provided</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Selected</targetReference>
            </connector>
            <label>No Info Selected</label>
        </rules>
        <rules>
            <name>Phone_Search_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_of_Search</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Phone_Search</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Search_Criteria</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CC_Lookup_Phone</targetReference>
            </connector>
            <label>Phone</label>
        </rules>
    </decisions>
    <description>Segment 1 of Call Capture Flow:
1) Add Phone Search</description>
    <dynamicChoiceSets>
        <name>Lead_List_view_Name</name>
        <dataType>String</dataType>
        <displayField>Name_Lookup__c</displayField>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Search_Criteria</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LeadListView_Name_2</name>
        <dataType>String</dataType>
        <displayField>Salesforce_Lead_Number__c</displayField>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Search_Criteria</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ListofLeads_B_Email</name>
        <dataType>String</dataType>
        <displayField>Name_Lookup__c</displayField>
        <filters>
            <field>Borrowers_Work_Phone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Search_Criteria</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>varPhone</assignToReference>
            <field>Borrowers_Home_Phone__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varChannel</assignToReference>
            <field>Channel__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varFirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varLeadID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varLastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOwnerID</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varLeadNumber</assignToReference>
            <field>Salesforce_Lead_Number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varStatus</assignToReference>
            <field>Status</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ListOfLeads_B_Mobile</name>
        <dataType>String</dataType>
        <displayField>Name_Lookup__c</displayField>
        <filters>
            <field>Borrowers_Mobile_Phone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Search_Criteria</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>varPhone</assignToReference>
            <field>Borrowers_Home_Phone__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varChannel</assignToReference>
            <field>Channel__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varFirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varLeadID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varLastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOwnerID</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varLeadNumber</assignToReference>
            <field>Salesforce_Lead_Number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varStatus</assignToReference>
            <field>Status</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ListofLeads_B_Name</name>
        <dataType>String</dataType>
        <displayField>Name_Lookup__c</displayField>
        <filters>
            <field>Borrowers_Home_Phone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Search_Criteria</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>varPhone</assignToReference>
            <field>Borrowers_Home_Phone__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varChannel</assignToReference>
            <field>Channel__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varFirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varLeadID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varLastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOwnerID</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varLeadNumber</assignToReference>
            <field>Salesforce_Lead_Number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varStatus</assignToReference>
            <field>Status</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ListOfLeads_Email</name>
        <dataType>String</dataType>
        <displayField>Name_Lookup__c</displayField>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Search_Criteria</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varLeadItem</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Salesforce_Lead_Number__c</field>
            <operator>EqualTo</operator>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>varChannel</assignToReference>
            <field>Channel__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOwnerID</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varStatus</assignToReference>
            <field>Status</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <label>Call Capture Lead Lookup</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Lookup_Lead</name>
        <label>Lookup Lead</label>
        <locationX>237</locationX>
        <locationY>533</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CCF_Subflow_1</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLeadID</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>varQueueOwner</assignToReference>
            <field>Lead_Owner_Queue__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>238</locationX>
        <locationY>644</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>Error</name>
            <defaultValue>
                <elementReference>$Flow.FaultMessage</elementReference>
            </defaultValue>
            <fieldText>Error</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <description>This is the final screen in the Lead Creation/Update flow.</description>
        <name>Goodbye_2</name>
        <label>Goodbye 2</label>
        <locationX>434</locationX>
        <locationY>642</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>Goodbye_text2</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Please press Finish to complete logging your call.&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Input_Required_Screen</name>
        <label>Input Required Screen</label>
        <locationX>497</locationX>
        <locationY>22</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Lead_Search_Screen_1</targetReference>
        </connector>
        <fields>
            <name>InputRequiredScreen_Header</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Input Required&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>InputRequiredScreenText</name>
            <fieldText>Please enter at least your search criteria or select &quot;No Info Provided&quot;.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Lead_Search_Screen_1</name>
        <label>Lead Search Screen 1</label>
        <locationX>334</locationX>
        <locationY>23</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Process_Search_Screen_Output</targetReference>
        </connector>
        <fields>
            <name>LeadSearchScreen1_Header1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Find out if the customer is in Salesforce.&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LeadSearchScreen1_Header2</name>
            <fieldText>Please enter the name, or email address of the customer.  If the customer is in Salesforce, their data will come up after Next is clicked.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>No_Info_Provided</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>No Info Provided</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Type_of_Search</name>
            <choiceReferences>Name_Search</choiceReferences>
            <choiceReferences>Phone_Search</choiceReferences>
            <choiceReferences>Email_Search</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Name_Search</defaultSelectedChoiceReference>
            <fieldText>Type of Search</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Search_Criteria</name>
            <dataType>String</dataType>
            <fieldText>Search For</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>Create_Activity</startElementReference>
    <subflows>
        <name>CC_Lookup_Email</name>
        <label>Lookup Email</label>
        <locationX>456</locationX>
        <locationY>300</locationY>
        <connector>
            <targetReference>Lead_Selected</targetReference>
        </connector>
        <flowName>CC_Lookup_Email</flowName>
        <inputAssignments>
            <name>varInputEmail</name>
            <value>
                <elementReference>Search_Criteria</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varLeadID</assignToReference>
            <name>varLeadID</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInputEmail</assignToReference>
            <name>varInputEmail</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>CC_Lookup_Name</name>
        <label>Lookup Name</label>
        <locationX>201</locationX>
        <locationY>293</locationY>
        <connector>
            <targetReference>Lead_Selected</targetReference>
        </connector>
        <flowName>CC_Lookup_Name</flowName>
        <inputAssignments>
            <name>varInputName</name>
            <value>
                <elementReference>Search_Criteria</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varLeadID</assignToReference>
            <name>varLeadID</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInputName</assignToReference>
            <name>varInputName</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>CC_Lookup_Phone</name>
        <label>CC Lookup Phone</label>
        <locationX>627</locationX>
        <locationY>299</locationY>
        <connector>
            <targetReference>Lead_Selected</targetReference>
        </connector>
        <flowName>CC_Lookup_Phone</flowName>
        <inputAssignments>
            <name>varInputPhone</name>
            <value>
                <elementReference>Search_Criteria</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varLeadID</assignToReference>
            <name>varLeadID</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varInputPhone</assignToReference>
            <name>varInputPhone</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>CCF_Subflow_1</name>
        <label>Disposition</label>
        <locationX>431</locationX>
        <locationY>535</locationY>
        <connector>
            <targetReference>Goodbye_2</targetReference>
        </connector>
        <flowName>Call_Capture_Disposition_Flow</flowName>
        <inputAssignments>
            <name>varInputName</name>
            <value>
                <elementReference>varInputName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInputEmail</name>
            <value>
                <elementReference>varInputEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varLeadID</name>
            <value>
                <elementReference>varLeadID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varQueueOwner</name>
            <value>
                <elementReference>varQueueOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNoInputProvided</name>
            <value>
                <elementReference>No_Info_Provided</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varActivityID</name>
            <value>
                <elementReference>varActivityID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varLeadID</assignToReference>
            <name>varLeadID</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varActivityID</assignToReference>
            <name>varActivityID</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_Activity</name>
        <label>Create Activity</label>
        <locationX>157</locationX>
        <locationY>24</locationY>
        <connector>
            <targetReference>Lead_Search_Screen_1</targetReference>
        </connector>
        <flowName>Call_Capture_Contact</flowName>
        <inputAssignments>
            <name>varDisposition</name>
            <value>
                <elementReference>conFlowStarted</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varActivityID</assignToReference>
            <name>ActivityId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>LeadsFound</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>varActivityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varChannel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varInputEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varInputName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varInputPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLeadNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varQueueOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Type of Search Selected</description>
        <name>varSearchType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
