jvimalprasathdev/src/flows/Call_Capture_Disposition_Flow-7.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Clear_varLeadID</name>
        <label>Clear varLeadID</label>
        <locationX>683</locationX>
        <locationY>298</locationY>
        <assignmentItems>
            <assignToReference>varLeadID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_sub_Flow_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Vars_with_Input_Fields</name>
        <label>Populate variables</label>
        <locationX>139</locationX>
        <locationY>177</locationY>
        <assignmentItems>
            <assignToReference>varFirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calcFirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calcLastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varInputEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varInputPhone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Disposition_Page_NoLead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>varset_output_variables</name>
        <label>set output variables</label>
        <locationX>674</locationX>
        <locationY>550</locationY>
        <assignmentItems>
            <assignToReference>varFirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLoanPurpose</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan_Purpose</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLeadStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChannelValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>How_did_you_hear_about_us</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_Update_Sub_Flow_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Cash_Out_Refinance</name>
        <choiceText>Cash-Out Refinance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cash-Out Refinance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Contacted_Follow_Up_Pending</name>
        <choiceText>Contacted / Follow-Up Pending</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contacted / Follow Up Pending</stringValue>
        </value>
    </choices>
    <choices>
        <name>Create_New_Lead</name>
        <choiceText>Create New Lead</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create New Lead</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dead_Air</name>
        <choiceText>Dead Air</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dead Air</stringValue>
        </value>
    </choices>
    <choices>
        <name>Email_Selected</name>
        <choiceText>Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>Existing_Lead_Looking_for_LO</name>
        <choiceText>Existing Lead - Looking for LO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Existing Lead - Looking for LO</stringValue>
        </value>
    </choices>
    <choices>
        <name>Invalid_Property_Type</name>
        <choiceText>Invalid Property Type</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Invalid Property Type</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Info_Provided_Looking_for_LO</name>
        <choiceText>No Info Provided: Looking for LO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Info Provided: Looking for LO</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Product_Available</name>
        <choiceText>No Product Available</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Product Available</stringValue>
        </value>
    </choices>
    <choices>
        <name>None_Selected</name>
        <choiceText>None Selected</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Call Capture</stringValue>
        </value>
    </choices>
    <choices>
        <name>Online_Ad_Selected</name>
        <choiceText>Online Ad</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Online Ad</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other_Selected</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Purchase</name>
        <choiceText>Purchase</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Purchase</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rate_Shopping</name>
        <choiceText>Rate Shopping</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rate Shopping</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rate_Table_Selected</name>
        <choiceText>Rate Table</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rate Table</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rate_Term_Refinance</name>
        <choiceText>Rate &amp; Term Refinance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rate &amp; Term Refinance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Recommendation_Selected</name>
        <choiceText>Recommendation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Recommendation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Request_for_Prequal</name>
        <choiceText>Request for Prequal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Request for Prequal</stringValue>
        </value>
    </choices>
    <choices>
        <name>Search_Engine_Selected</name>
        <choiceText>Search Engine</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Search Engine</stringValue>
        </value>
    </choices>
    <choices>
        <name>Select_One</name>
        <choiceText>--Select One --</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </choices>
    <choices>
        <name>Select_Option</name>
        <choiceText>-- Select Option --</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </choices>
    <choices>
        <name>Servicing_Call_Incorrect_Department</name>
        <choiceText>Servicing Call / Incorrect Department</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Servicing Call / Incorrect Department</stringValue>
        </value>
    </choices>
    <choices>
        <name>Take_Over_Lead</name>
        <choiceText>Take Over Lead</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Take Over Lead</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Missing_Data</name>
        <label>Missing Data</label>
        <locationX>318</locationX>
        <locationY>548</locationY>
        <defaultConnector>
            <targetReference>Set_Disposition_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Missing_Data</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Lead_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loan_Purpose</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Required_Data_Missing</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Info</name>
        <label>No Info?</label>
        <locationX>316</locationX>
        <locationY>175</locationY>
        <defaultConnector>
            <targetReference>Populate_Vars_with_Input_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_No_Information_Provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNoInputProvided</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Disposition_Page_NoLead_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Lead_Selected</name>
        <label>Was Lead Selected?</label>
        <locationX>314</locationX>
        <locationY>53</locationY>
        <defaultConnector>
            <targetReference>Existing_Lead_Disposition</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLeadID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Info</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>WasCreateLeadChosen</name>
        <label>Create Lead?</label>
        <locationX>319</locationX>
        <locationY>296</locationY>
        <defaultConnector>
            <targetReference>Set_Disposition_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_CreateLeadChosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DispositionOptions_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Create_New_Lead</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Lead_Info</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>add: New Lead Info screen</description>
    <formulas>
        <name>calcB1Phone</name>
        <dataType>String</dataType>
        <expression>if({!vB1HomePh} != null,&quot;Home: &quot; &amp; {!vB1HomePh},&quot;&quot;) &amp; if({!vB1CellPh} != null,&quot; Cell: &quot; &amp; {!vB1CellPh},&quot;&quot;) &amp; if({!vB1WorkPh} != null,&quot; Work: &quot; &amp; {!vB1WorkPh},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>calcB2Phone</name>
        <dataType>String</dataType>
        <expression>if({!vB2HomePh} != null,&quot;Home: &quot; &amp; {!vB2HomePh},&quot;&quot;) &amp; if({!vB2CellPh} != null,&quot; Cell: &quot; &amp; {!vB2CellPh},&quot;&quot;) &amp; if({!vB2WorkPh} != null,&quot; Work: &quot; &amp; {!vB2WorkPh},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>calcChannel</name>
        <dataType>String</dataType>
        <expression>&quot;Channel:  &quot; &amp; {!varChannel}</expression>
    </formulas>
    <formulas>
        <name>calcEmail</name>
        <dataType>String</dataType>
        <expression>If({!varEmail} != null,&quot;Borrower: &quot;, &quot;&quot; ) &amp; {!varEmail} &amp; if({!varEmail} != null &amp;&amp; {!varB2Email} != null ,&quot; and &quot;,&quot;&quot;) &amp; If({!varB2Email} != null,&quot;Co-Borrower: &quot;, &quot;&quot; ) &amp; {!varB2Email}</expression>
    </formulas>
    <formulas>
        <description>calculate First Name from varInputName</description>
        <name>calcFirstName</name>
        <dataType>String</dataType>
        <expression>if( find(&quot; &quot;,{!varInputName})&gt;0,
    left({!varInputName},find(&quot; &quot;,{!varInputName})),
    &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>calcFirstName2</name>
        <dataType>String</dataType>
        <expression>&quot;First Name:  &quot; &amp; {!varFirstName}</expression>
    </formulas>
    <formulas>
        <description>calculate Full Name ( and optionally co-borrower Full Name)</description>
        <name>calcFullName</name>
        <dataType>String</dataType>
        <expression>{!varB1Name} &amp; if({!varB2Name} != null,&quot; and &quot; &amp; {!varB2Name},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <description>Calculate LastName from InputName X</description>
        <name>calcLastName</name>
        <dataType>String</dataType>
        <expression>right({!varInputName},len({!varInputName})-find(&quot; &quot;,{!varInputName}))</expression>
    </formulas>
    <formulas>
        <name>calcLastName2</name>
        <dataType>String</dataType>
        <expression>&quot;Last Name:  &quot; &amp; {!varLastName}</expression>
    </formulas>
    <formulas>
        <name>calcLastUpdate</name>
        <dataType>String</dataType>
        <expression>&quot;Last Modified: &quot; &amp; text(if({!varLastModified}&gt;{!varSysModStamp},{!varLastModified},{!varSysModStamp}))</expression>
    </formulas>
    <formulas>
        <name>calcLeadID</name>
        <dataType>String</dataType>
        <expression>&quot;Lead:  &quot; &amp; {!varLeadNumber}</expression>
    </formulas>
    <formulas>
        <name>calcOwner</name>
        <dataType>String</dataType>
        <expression>&quot;Owner:  &quot; &amp; {!varOwner}</expression>
    </formulas>
    <formulas>
        <name>calcStatus</name>
        <dataType>String</dataType>
        <expression>&quot;Status:  &quot; &amp; {!varStatus}</expression>
    </formulas>
    <label>Call Capture Disposition Flow</label>
    <processType>Flow</processType>
    <screens>
        <description>Disposition Field for when Existing Lead was selected</description>
        <name>Disposition_Page_NoLead</name>
        <label>Disposition Page</label>
        <locationX>141</locationX>
        <locationY>296</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>WasCreateLeadChosen</targetReference>
        </connector>
        <fields>
            <name>DispNoExistingRecord</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;No existing lead was found for the selection criteria below:&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dispBlankLine</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FFFFFF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;--&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LeadData</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Courier New&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;First Name..........: {!varFirstName}&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Courier New&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Last Name...........: {!varLastName}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Courier New&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Email...............: {!varEmail}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Courier New&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Phone...............: {!varPhone}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DispositionScreen_BlankLine1_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FFFFFF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;-&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DispositionOptions_0</name>
            <choiceReferences>Create_New_Lead</choiceReferences>
            <choiceReferences>Servicing_Call_Incorrect_Department</choiceReferences>
            <choiceReferences>Rate_Shopping</choiceReferences>
            <choiceReferences>Invalid_Property_Type</choiceReferences>
            <choiceReferences>No_Product_Available</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <description>Disposition Field for when Existing Lead was selected</description>
        <name>Disposition_Page_NoLead_0</name>
        <label>Disposition Page</label>
        <locationX>498</locationX>
        <locationY>176</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Set_Disposition_1</targetReference>
        </connector>
        <fields>
            <name>DispNoExistingRecord_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;No existing lead was found for the selection criteria below:&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DispositionScreen_BlankLine1_0_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FFFFFF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;-&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DispositionOptions_1</name>
            <choiceReferences>Servicing_Call_Incorrect_Department</choiceReferences>
            <choiceReferences>Rate_Shopping</choiceReferences>
            <choiceReferences>Invalid_Property_Type</choiceReferences>
            <choiceReferences>No_Product_Available</choiceReferences>
            <choiceReferences>Dead_Air</choiceReferences>
            <choiceReferences>No_Info_Provided_Looking_for_LO</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <description>Capture required information for new lead creation</description>
        <name>New_Lead_Info</name>
        <label>New Lead Info</label>
        <locationX>318</locationX>
        <locationY>430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Missing_Data</targetReference>
        </connector>
        <fields>
            <name>DispNoExistingRecord_1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Please enter the following data to create lead:&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dispBlankLine_1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FFFFFF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;--&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varFirstName</elementReference>
            </defaultValue>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varLastName</elementReference>
            </defaultValue>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Email</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varEmail</elementReference>
            </defaultValue>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>Invalid format for email address.</errorMessage>
                <formulaExpression>REGEX ( UPPER (Email ) ,&quot;^[A-Z0-9._%+-/!#$%&amp;&apos;*=?^_`{|}~]+@[A-Z0-9.-]+\\.[A-Z]{2,4}$&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Phone</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varPhone</elementReference>
            </defaultValue>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Invalid format for Phone number.</errorMessage>
                <formulaExpression>NOT(REGEX ( Phone,&quot;[0-9\\-\\(\\)+]&quot;))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>State</name>
            <dataType>String</dataType>
            <fieldText>State</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>State is a required field.</helpText>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Please enter a two character State.</errorMessage>
                <formulaExpression>REGEX ( UPPER (State ) ,&quot;^[A-Z][A-Z]$&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Loan_Purpose</name>
            <choiceReferences>Select_One</choiceReferences>
            <choiceReferences>Purchase</choiceReferences>
            <choiceReferences>Cash_Out_Refinance</choiceReferences>
            <choiceReferences>Rate_Term_Refinance</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Loan Purpose</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Lead_Status</name>
            <choiceReferences>Select_One</choiceReferences>
            <choiceReferences>Contacted_Follow_Up_Pending</choiceReferences>
            <choiceReferences>Request_for_Prequal</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Lead Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DispBlankLine_3</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FFFFFF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;-&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>How_did_you_hear_about_us</name>
            <choiceReferences>None_Selected</choiceReferences>
            <choiceReferences>Email_Selected</choiceReferences>
            <choiceReferences>Online_Ad_Selected</choiceReferences>
            <choiceReferences>Rate_Table_Selected</choiceReferences>
            <choiceReferences>Search_Engine_Selected</choiceReferences>
            <choiceReferences>Recommendation_Selected</choiceReferences>
            <choiceReferences>Other_Selected</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None_Selected</defaultSelectedChoiceReference>
            <fieldText>How did you hear about us?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DispositionScreen_BlankLine1_0_1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FFFFFF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;-&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>disp_required_fields_message</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Note: Items marked with &lt;FONT COLOR=&quot;#FF0000&quot;&gt;Red&lt;/FONT&gt; are required for new lead creation.&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Required_Data_Missing</name>
        <label>Required Data Missing</label>
        <locationX>142</locationX>
        <locationY>548</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Disposition_Page_NoLead</targetReference>
        </connector>
        <fields>
            <name>DataRequiredMessage</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Loan Purpuse and Lead Status are both required fields.&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Was_Lead_Selected</startElementReference>
    <subflows>
        <name>Contact_sub_Flow</name>
        <label>Contact sub-Flow</label>
        <locationX>851</locationX>
        <locationY>176</locationY>
        <flowName>Call_Capture_Contact</flowName>
        <inputAssignments>
            <name>varDisposition</name>
            <value>
                <elementReference>varDisposition</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ActivityId</name>
            <value>
                <elementReference>varActivityID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Contact_sub_Flow_0</name>
        <label>Contact sub-Flow</label>
        <locationX>854</locationX>
        <locationY>296</locationY>
        <flowName>Call_Capture_Contact</flowName>
        <inputAssignments>
            <name>varDisposition</name>
            <value>
                <elementReference>varDisposition</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ActivityId</name>
            <value>
                <elementReference>varActivityID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Existing_Lead_Disposition</name>
        <label>Existing Lead Disposition</label>
        <locationX>496</locationX>
        <locationY>55</locationY>
        <connector>
            <targetReference>Set_Disposition</targetReference>
        </connector>
        <flowName>CC_Existing_Lead_Disposition</flowName>
        <inputAssignments>
            <name>varLeadID</name>
            <value>
                <elementReference>varLeadID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varActivityID</name>
            <value>
                <elementReference>varActivityID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varActivityID</assignToReference>
            <name>varActivityID</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varDisposition</assignToReference>
            <name>varDisposition</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varLeadID</assignToReference>
            <name>varLeadID</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Lead_Update_Sub_Flow</name>
        <label>Lead Update Sub-Flow</label>
        <locationX>850</locationX>
        <locationY>57</locationY>
        <flowName>Lead_Creation</flowName>
        <inputAssignments>
            <name>VarFirstName</name>
            <value>
                <elementReference>varFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varLastName</name>
            <value>
                <elementReference>varLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varEmail</name>
            <value>
                <elementReference>varEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InputLeadId</name>
            <value>
                <elementReference>varLeadID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InputDisposition</name>
            <value>
                <elementReference>varDisposition</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varHomePhone</name>
        </inputAssignments>
        <inputAssignments>
            <name>ActivityId</name>
            <value>
                <elementReference>varActivityID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varLeadID</assignToReference>
            <name>LeadID</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Lead_Update_Sub_Flow_0</name>
        <label>Lead Update Sub-Flow</label>
        <locationX>851</locationX>
        <locationY>551</locationY>
        <flowName>Lead_Creation</flowName>
        <inputAssignments>
            <name>VarFirstName</name>
            <value>
                <elementReference>varFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varLastName</name>
            <value>
                <elementReference>varLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varEmail</name>
            <value>
                <elementReference>varEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InputLeadId</name>
            <value>
                <elementReference>varLeadID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InputDisposition</name>
            <value>
                <elementReference>varDisposition</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varHomePhone</name>
            <value>
                <elementReference>varPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ActivityId</name>
            <value>
                <elementReference>varActivityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varState</name>
            <value>
                <elementReference>varState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varLoanPurpose</name>
            <value>
                <elementReference>varLoanPurpose</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varLeadStatus</name>
            <value>
                <elementReference>varLeadStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varChannelValues</name>
            <value>
                <elementReference>varChannelValue</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varLeadID</assignToReference>
            <name>LeadID</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Set_Disposition</name>
        <label>Set Disposition</label>
        <locationX>679</locationX>
        <locationY>57</locationY>
        <connector>
            <targetReference>Lead_Update_Sub_Flow</targetReference>
        </connector>
        <flowName>CC_Disposition_Assignment_sub_flow</flowName>
        <inputAssignments>
            <name>varDisposition</name>
            <value>
                <elementReference>varDisposition</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varDisposition</assignToReference>
            <name>varDisposition</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Set_Disposition_0</name>
        <label>Set Disposition</label>
        <locationX>499</locationX>
        <locationY>298</locationY>
        <connector>
            <targetReference>Clear_varLeadID</targetReference>
        </connector>
        <flowName>CC_Disposition_Assignment_sub_flow</flowName>
        <inputAssignments>
            <name>varDisposition</name>
            <value>
                <elementReference>DispositionOptions_0</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varDisposition</assignToReference>
            <name>varDisposition</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Set_Disposition_0_0</name>
        <label>Set Disposition</label>
        <locationX>500</locationX>
        <locationY>551</locationY>
        <connector>
            <targetReference>varset_output_variables</targetReference>
        </connector>
        <flowName>CC_Disposition_Assignment_sub_flow</flowName>
        <inputAssignments>
            <name>varDisposition</name>
            <value>
                <elementReference>DispositionOptions_0</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varDisposition</assignToReference>
            <name>varDisposition</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Set_Disposition_1</name>
        <label>Set Disposition</label>
        <locationX>679</locationX>
        <locationY>176</locationY>
        <connector>
            <targetReference>Contact_sub_Flow</targetReference>
        </connector>
        <flowName>CC_Disposition_Assignment_sub_flow</flowName>
        <inputAssignments>
            <name>varDisposition</name>
            <value>
                <elementReference>DispositionOptions_1</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varDisposition</assignToReference>
            <name>varDisposition</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>varActivityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varB1Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varB2Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varB2Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varChannel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varChannelValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDisposition</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInputEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInputName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInputPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLastModified</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLeadNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Lead Status</description>
        <name>varLeadStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Loan Purpose</description>
        <name>varLoanPurpose</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNoInputProvided</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varQueueOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>State Code</description>
        <name>varState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSysModStamp</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vB1CellPh</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vB1HomePh</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vB1WorkPh</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vB2CellPh</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vB2HomePh</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vB2WorkPh</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
