jvimalprasathdev/src/flows/Call_Capture_Contact-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Activity_Id</name>
        <label>Assign Activity Id</label>
        <locationX>66</locationX>
        <locationY>145</locationY>
        <assignmentItems>
            <assignToReference>ActivityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Disp_Activity_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Start_Of_Flow</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>conCallCaputreLogEntry</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Call Capture Log Entry</stringValue>
        </value>
    </constants>
    <constants>
        <name>conFlowStarted</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Flow Started - Never Completed</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Does_Contact_Exist</name>
        <label>Does Contact Exist</label>
        <locationX>228</locationX>
        <locationY>376</locationY>
        <defaultConnector>
            <targetReference>Create_a_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact_Lookup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_An_Activity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Start_Of_Flow</name>
        <label>Start of Flow</label>
        <locationX>298</locationX>
        <locationY>145</locationY>
        <defaultConnector>
            <targetReference>Update_Activity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDisposition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>conFlowStarted</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Lookup</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>new flow</description>
    <label>Call Capture Contact</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_a_Contact</name>
        <label>Create a Contact</label>
        <locationX>309</locationX>
        <locationY>501</locationY>
        <assignRecordIdToReference>ContactId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_An_Activity</targetReference>
        </connector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>VarFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>VarLastName</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Create_An_Activity</name>
        <label>Create An Activity</label>
        <locationX>148</locationX>
        <locationY>501</locationY>
        <assignRecordIdToReference>ActivityId</assignRecordIdToReference>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>varDisposition</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>varStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>conCallCaputreLogEntry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>VarType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Contact_Lookup</name>
        <label>Contact Lookup</label>
        <locationX>226</locationX>
        <locationY>261</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Contact_Exist</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Call Capture Place Holder</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Activity</name>
        <label>Update Activity</label>
        <locationX>384</locationX>
        <locationY>261</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ActivityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>varDisposition</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <screens>
        <name>No_Info_Provided</name>
        <label>No Info Provided</label>
        <locationX>64</locationX>
        <locationY>30</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Assign_Activity_Id</targetReference>
        </connector>
        <fields>
            <name>Disp_Activity_Id</name>
            <dataType>String</dataType>
            <fieldText>Activity Id</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>dispDisposition</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varDisposition</elementReference>
            </defaultValue>
            <fieldText>Disposition</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Updated_Activity_Info</name>
        <label>Updated Activity Info</label>
        <locationX>384</locationX>
        <locationY>375</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>test2</name>
            <fieldText>Update Call</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Info</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varDisposition</elementReference>
            </defaultValue>
            <fieldText>Info</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Result_Activity_Id</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ActivityId</elementReference>
            </defaultValue>
            <fieldText>Activity Id</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Updated_Activity_Info_0</name>
        <label>Updated Activity Info</label>
        <locationX>229</locationX>
        <locationY>635</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>Test</name>
            <fieldText>New Activity</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Info_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varDisposition</elementReference>
            </defaultValue>
            <fieldText>Info</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Result_Activity_Id_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ActivityId</elementReference>
            </defaultValue>
            <fieldText>Activity Id</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>Start_Of_Flow</startElementReference>
    <variables>
        <name>ActivityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Flow Starterd - But Never Ended</stringValue>
        </value>
    </variables>
    <variables>
        <name>varDisposition</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Flow Started - Never Completed</stringValue>
        </value>
    </variables>
    <variables>
        <name>VarFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Call Capture</stringValue>
        </value>
    </variables>
    <variables>
        <name>VarLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Place Holder</stringValue>
        </value>
    </variables>
    <variables>
        <name>varNoInfoProvided</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </variables>
    <variables>
        <name>VarSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>No Info Provided</stringValue>
        </value>
    </variables>
    <variables>
        <name>VarType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Call Log</stringValue>
        </value>
    </variables>
</Flow>
