jvimalprasathdev/src/flows/CC_Existing_Lead_Disposition-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>email_interested_parties</name>
        <label>email_interested_parties</label>
        <locationX>629</locationX>
        <locationY>908</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <faultConnector>
            <targetReference>fault_0_1_2</targetReference>
        </faultConnector>
        <inputParameters>
            <name>EmailAddresses</name>
            <value>
                <elementReference>calcEmailAddressLine</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailBody</name>
            <value>
                <elementReference>emailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailSubject</name>
            <value>
                <elementReference>email_Subject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apexPluginCalls>
        <name>Change_Lead_Owner</name>
        <label>Change Lead Owner</label>
        <locationX>625</locationX>
        <locationY>671</locationY>
        <apexClass>LeadOwnerChangePlugin</apexClass>
        <connector>
            <targetReference>email_interested_parties</targetReference>
        </connector>
        <faultConnector>
            <targetReference>fault_0_1_2</targetReference>
        </faultConnector>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>varLeadID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ownerId</name>
            <value>
                <elementReference>varActivityOwner</elementReference>
            </value>
        </inputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>TakeOverLeadOwnerQueue</name>
        <label>TakeOverLeadOwnerQueue</label>
        <locationX>981</locationX>
        <locationY>562</locationY>
        <apexClass>LeadOwnerChangePlugin</apexClass>
        <connector>
            <targetReference>set_varDisposition_3</targetReference>
        </connector>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>varLeadID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ownerId</name>
            <value>
                <elementReference>varActivityOwner</elementReference>
            </value>
        </inputParameters>
    </apexPluginCalls>
    <assignments>
        <name>set_varDisposition</name>
        <label>set varDisposition</label>
        <locationX>261</locationX>
        <locationY>666</locationY>
        <assignmentItems>
            <assignToReference>varDisposition</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DispositionOptions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Take_Over_Lead_Selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_varDisposition_2</name>
        <label>Return varDisposition</label>
        <locationX>80</locationX>
        <locationY>533</locationY>
        <assignmentItems>
            <assignToReference>varDisposition</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DispositionOptions_2</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>set_varDisposition_3</name>
        <label>Return varDisposition</label>
        <locationX>983</locationX>
        <locationY>679</locationY>
        <assignmentItems>
            <assignToReference>varDisposition</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DispositionOptions_0</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>set_varOwner</name>
        <label>set varOwner</label>
        <locationX>620</locationX>
        <locationY>559</locationY>
        <assignmentItems>
            <assignToReference>varOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varQueueOwner</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Disposition_Page_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_varRelatedOpp</name>
        <label>set varRelatedOpp</label>
        <locationX>806</locationX>
        <locationY>61</locationY>
        <assignmentItems>
            <assignToReference>varRelatedOpp</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRelatedOp</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Setup_Test_Fields</name>
        <label>Setup Test Fields</label>
        <locationX>259</locationX>
        <locationY>175</locationY>
        <assignmentItems>
            <assignToReference>varActivityID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dispActivity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLeadID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dispLead_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_Lead_Data</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Create_New_Lead</name>
        <choiceText>Create New Lead</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create New Lead</stringValue>
        </value>
    </choices>
    <choices>
        <name>Dead_Air</name>
        <choiceText>Dead Air</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dead Air</stringValue>
        </value>
    </choices>
    <choices>
        <name>Existing_Lead_Looking_for_LO</name>
        <choiceText>Existing Lead - Looking for LO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Existing Lead - Looking for LO</stringValue>
        </value>
    </choices>
    <choices>
        <name>Invalid_Property_Type</name>
        <choiceText>Invalid Property Type</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Invalid Property Type</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>No_Product_Available</name>
        <choiceText>No Product Available</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Product Available</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rate_Shopping</name>
        <choiceText>Rate Shopping</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rate Shopping</stringValue>
        </value>
    </choices>
    <choices>
        <name>Select_Option</name>
        <choiceText>-- Select Option --</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </choices>
    <choices>
        <name>Servicing_Call_Incorrect_Department</name>
        <choiceText>Servicing Call / Incorrect Department</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Servicing Call / Incorrect Department</stringValue>
        </value>
    </choices>
    <choices>
        <name>Take_Over_Lead</name>
        <choiceText>Take Over Lead</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Take Over Lead</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Queue_Owned_Lead</name>
        <label>Queue Owned Lead?</label>
        <locationX>616</locationX>
        <locationY>424</locationY>
        <defaultConnector>
            <targetReference>Lookup_Current_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Queue_Owned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCurrOwnerID</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_varOwner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Related_Opportunity</name>
        <label>Related Opportunity?</label>
        <locationX>603</locationX>
        <locationY>175</locationY>
        <defaultConnector>
            <targetReference>Lookup_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesRelatedOpportunityExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRelOppID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRelOppID</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Lookup_Related_Opportunity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Related_Opportunity_0</name>
        <label>Related Opportunity?</label>
        <locationX>257</locationX>
        <locationY>294</locationY>
        <defaultConnector>
            <targetReference>Disposition_Page</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesRelatedOpportunityExists_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRelatedOpp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Disposition_Page_1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Take_Over_Lead_Confirmed</name>
        <label>Take Over Lead Confirmed?</label>
        <locationX>437</locationX>
        <locationY>669</locationY>
        <defaultConnector>
            <targetReference>Disposition_Page</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_takeOverLeadConfirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TakeOver_Confirmation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Lead_Owner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Take_Over_Lead_Selected</name>
        <label>Take Over Lead?</label>
        <locationX>263</locationX>
        <locationY>794</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_TakeOverLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DispositionOptions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Take_Over_Lead</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirmation_Page</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>sub-flow to determine appropriate path for current leads V2:
1) Add logic for leads with Related Opportunity (no take over opt)
2) Add logic for queue owned leads (no confirmation screen)</description>
    <formulas>
        <name>calcB1Phone</name>
        <dataType>String</dataType>
        <expression>if({!vB1HomePh} != null,&quot;Home: &quot; &amp; {!vB1HomePh},&quot;&quot;) &amp; if({!vB1CellPh} != null,&quot; Cell: &quot; &amp; {!vB1CellPh},&quot;&quot;) &amp; if({!vB1WorkPh} != null,&quot; Work: &quot; &amp; {!vB1WorkPh},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>calcB2Phone</name>
        <dataType>String</dataType>
        <expression>if({!vB2HomePh} != null,&quot;Home: &quot; &amp; {!vB2HomePh},&quot;&quot;) &amp; if({!vB2CellPh} != null,&quot; Cell: &quot; &amp; {!vB2CellPh},&quot;&quot;) &amp; if({!vB2WorkPh} != null,&quot; Work: &quot; &amp; {!vB2WorkPh},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>calcChannel</name>
        <dataType>String</dataType>
        <expression>&quot;Channel:  &quot; &amp; {!varChannel}</expression>
    </formulas>
    <formulas>
        <name>calcEmail</name>
        <dataType>String</dataType>
        <expression>If({!varEmail} != null,&quot;Borrower: &quot;, &quot;&quot; ) &amp; {!varEmail} &amp; if({!varEmail} != null &amp;&amp; {!varB2Email} != null ,&quot; and &quot;,&quot;&quot;) &amp; If({!varB2Email} != null,&quot;Co-Borrower: &quot;, &quot;&quot; ) &amp; {!varB2Email}</expression>
    </formulas>
    <formulas>
        <description>Email Address Line combining email addresses for:
Current Owner
Current Owner&apos;s Manager
New Owner&apos;s Manager</description>
        <name>calcEmailAddressLine</name>
        <dataType>String</dataType>
        <expression>{!varCurrOwnEmail} &amp; &quot;,&quot; &amp; {!varCurrMgrEmail} &amp; &quot;,&quot; &amp; {!varMyMgrEmail}</expression>
    </formulas>
    <formulas>
        <description>calculate First Name from varInputName</description>
        <name>calcFirstName</name>
        <dataType>String</dataType>
        <expression>if( find(&quot; &quot;,{!varInputName})&gt;0,
    left({!varInputName},find(&quot; &quot;,{!varInputName})),
    &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>calcFirstName2</name>
        <dataType>String</dataType>
        <expression>&quot;First Name:  &quot; &amp; {!varFirstName}</expression>
    </formulas>
    <formulas>
        <description>calculate Full Name ( and optionally co-borrower Full Name)</description>
        <name>calcFullName</name>
        <dataType>String</dataType>
        <expression>{!varB1Name} &amp; if({!varB2Name} != null,&quot; and &quot; &amp; {!varB2Name},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <description>Calculate LastName from InputName X</description>
        <name>calcLastName</name>
        <dataType>String</dataType>
        <expression>right({!varInputName},len({!varInputName})-find(&quot; &quot;,{!varInputName}))</expression>
    </formulas>
    <formulas>
        <name>calcLastName2</name>
        <dataType>String</dataType>
        <expression>&quot;Last Name:  &quot; &amp; {!varLastName}</expression>
    </formulas>
    <formulas>
        <name>calcLastUpdate</name>
        <dataType>DateTime</dataType>
        <expression>if({!varLastModified}&gt;{!varSysModStamp},{!varLastModified},{!varSysModStamp})</expression>
    </formulas>
    <formulas>
        <name>calcLeadID</name>
        <dataType>String</dataType>
        <expression>&quot;Lead:  &quot; &amp; {!varLeadNumber}</expression>
    </formulas>
    <formulas>
        <name>calcOppLastMod</name>
        <dataType>DateTime</dataType>
        <expression>if({!varOppLastModDate}&gt;{!varOppSysMod},{!varOppLastModDate},{!varOppSysMod})</expression>
    </formulas>
    <formulas>
        <name>calcOwner</name>
        <dataType>String</dataType>
        <expression>&quot;Owner:  &quot; &amp; {!varCurrOwnName}</expression>
    </formulas>
    <formulas>
        <name>calcStatus</name>
        <dataType>String</dataType>
        <expression>&quot;Status:  &quot; &amp; {!varStatus}</expression>
    </formulas>
    <formulas>
        <name>email_Subject</name>
        <dataType>String</dataType>
        <expression>&quot;Lead transferred from &quot; &amp; {!varCurrOwnName} &amp; &quot; to &quot; &amp; {!varMyName}</expression>
    </formulas>
    <label>CC Existing Lead Disposition</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Lookup_Curr_Owner_Manager</name>
        <label>Lookup Curr Owner Manager</label>
        <locationX>433</locationX>
        <locationY>292</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Related_Opportunity_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>fault_0_1</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCurrOwnMgrID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varCurrMgrEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCurrMgrName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Current_Owner</name>
        <label>Lookup Current Owner</label>
        <locationX>435</locationX>
        <locationY>419</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Curr_Owner_Manager</targetReference>
        </connector>
        <faultConnector>
            <targetReference>fault_0_1</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCurrOwnerID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varCurrOwnEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCurrOwnMgrID</assignToReference>
            <field>ManagerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCurrOwnName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Lead_Data</name>
        <label>Lookup Lead Data</label>
        <locationX>431</locationX>
        <locationY>175</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Related_Opportunity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>fault_0_1</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLeadID</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>vB1HomePh</assignToReference>
            <field>Borrowers_Home_Phone__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vB1CellPh</assignToReference>
            <field>Borrowers_Mobile_Phone__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vB1WorkPh</assignToReference>
            <field>Borrowers_Work_Phone__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varChannel</assignToReference>
            <field>Channel__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varB2Name</assignToReference>
            <field>Co_Borrower_Full_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varB2Email</assignToReference>
            <field>Co_Borrowers_Email__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vB2HomePh</assignToReference>
            <field>Co_Borrowers_Home_Phone__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vB2CellPh</assignToReference>
            <field>Co_Borrowers_Mobile_Phone__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vB2WorkPh</assignToReference>
            <field>Co_Borrowers_Work_Phone__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varLastModified</assignToReference>
            <field>LastModifiedDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varB1Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCurrOwnerID</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varRelOppID</assignToReference>
            <field>Related_Opportunity__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varLeadNumber</assignToReference>
            <field>Salesforce_Lead_Number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varStatus</assignToReference>
            <field>Status</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSysModStamp</assignToReference>
            <field>SystemModstamp</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_My_Manager</name>
        <label>Lookup My Manager</label>
        <locationX>806</locationX>
        <locationY>427</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Queue_Owned_Lead</targetReference>
        </connector>
        <faultConnector>
            <targetReference>fault_0_1</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varMyManager</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varMyMgrEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varMyMgrName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_My_User_Record</name>
        <label>Lookup My User_record</label>
        <locationX>806</locationX>
        <locationY>299</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_My_Manager</targetReference>
        </connector>
        <faultConnector>
            <targetReference>fault_0_1</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varActivityOwner</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varMyManager</assignToReference>
            <field>ManagerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varMyName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Related_Opportunity</name>
        <label>Lookup Related Opportunity</label>
        <locationX>602</locationX>
        <locationY>58</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>set_varRelatedOpp</targetReference>
        </connector>
        <faultConnector>
            <targetReference>fault_0_1_1</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRelOppID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>varOppLastModDate</assignToReference>
            <field>LastModifiedDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOppStatus</assignToReference>
            <field>Loan_Status__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOppStage</assignToReference>
            <field>StageName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOppSysMod</assignToReference>
            <field>SystemModstamp</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Task</name>
        <label>Lookup Task</label>
        <locationX>805</locationX>
        <locationY>174</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_My_User_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>fault_0_1</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varActivityID</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputAssignments>
            <assignToReference>varActivityOwner</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <description>Confirmation that user has indicated a deisre to work with the LO.</description>
        <name>Confirmation_Page</name>
        <label>Confirmation Page</label>
        <locationX>439</locationX>
        <locationY>792</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Take_Over_Lead_Confirmed</targetReference>
        </connector>
        <fields>
            <name>LeadInfo_1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Courier New&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Lead#...............: {!varLeadNumber}&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Courier New&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Borrower(s).........: {!calcFullName}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Courier New&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Email...............: {!calcEmail}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Courier New&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Borr Phone..........: {!calcB1Phone}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Courier New&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Co-Borr Phone.......: {!calcB2Phone}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Courier New&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Lead Owner..........: {!varCurrOwnName}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Courier New&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Lead Status ........: {!varStatus}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Courier New&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Channel.............: {!varChannel}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Courier New&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Last Update.........: {!calcLastUpdate}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Courier New&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FFFFFF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Courier New&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Related Opportunity.? {!varRelatedOpp}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Courier New&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;  Opportunity Stage.: {!varOppStage}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Courier New&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;  Opportunity Status: {!varOppStatus}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Courier New&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;  Last Modified Date: {!calcOppLastMod}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TakeOver_Confirmation</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Did customer state that they wish to work with you?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>placeholder</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Notification</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;By taking this lead, your manager, the manager of the current lead owner, and the current lead owner will be notified by e-mail.&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <description>Disposition Field for when Existing Lead was selected</description>
        <name>Disposition_Page</name>
        <label>Disposition Page</label>
        <locationX>259</locationX>
        <locationY>527</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>set_varDisposition</targetReference>
        </connector>
        <fields>
            <name>LeadInfo</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Courier New&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Lead#...............: {!varLeadNumber}&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Courier New&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Borrower(s).........: {!calcFullName}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Courier New&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Email...............: {!calcEmail}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Courier New&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Borr Phone..........: {!calcB1Phone}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Courier New&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Co-Borr Phone.......: {!calcB2Phone}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Courier New&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Lead Owner..........: {!varCurrOwnName}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Courier New&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Lead Status ........: {!varStatus}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Courier New&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Channel.............: {!varChannel}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Courier New&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Last Update.........: {!calcLastUpdate}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Courier New&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FFFFFF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Courier New&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Related Opportunity.? {!varRelatedOp}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Courier New&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;  Opportunity Stage.: {!varOppStage}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Courier New&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;  Opportunity Status: {!varOppStatus}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Courier New&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;  Last Modified Date: {!calcOppLastMod}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DispositionOptions</name>
            <choiceReferences>Existing_Lead_Looking_for_LO</choiceReferences>
            <choiceReferences>Servicing_Call_Incorrect_Department</choiceReferences>
            <choiceReferences>Rate_Shopping</choiceReferences>
            <choiceReferences>Invalid_Property_Type</choiceReferences>
            <choiceReferences>No_Product_Available</choiceReferences>
            <choiceReferences>Take_Over_Lead</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <description>Disposition Field for when Existing Lead was selected</description>
        <name>Disposition_Page_0</name>
        <label>Disposition Page</label>
        <locationX>808</locationX>
        <locationY>559</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>TakeOverLeadOwnerQueue</targetReference>
        </connector>
        <fields>
            <name>LeadInfo_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Courier New&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Lead#...............: {!varLeadNumber}&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Courier New&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Borrower(s).........: {!calcFullName}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Courier New&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Email...............: {!calcEmail}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Courier New&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Borr Phone..........: {!calcB1Phone}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Courier New&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Co-Borr Phone.......: {!calcB2Phone}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Courier New&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Lead Owner..........: {!varCurrOwnName}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Courier New&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Lead Status ........: {!varStatus}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Courier New&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Channel.............: {!varChannel}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Courier New&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Last Update.........: {!calcLastUpdate}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Courier New&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FFFFFF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Courier New&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Related Opportunity.? {!varRelatedOp}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Courier New&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;  Opportunity Stage.: {!varOppStage}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Courier New&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;  Opportunity Status: {!varOppStatus}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Courier New&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;  Last Modified Date: {!calcOppLastMod}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DispositionOptions_0</name>
            <choiceReferences>Existing_Lead_Looking_for_LO</choiceReferences>
            <choiceReferences>Servicing_Call_Incorrect_Department</choiceReferences>
            <choiceReferences>Rate_Shopping</choiceReferences>
            <choiceReferences>Invalid_Property_Type</choiceReferences>
            <choiceReferences>No_Product_Available</choiceReferences>
            <choiceReferences>Take_Over_Lead</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <description>Disposition Field for when Existing Lead was selected</description>
        <name>Disposition_Page_1</name>
        <label>Disposition Page</label>
        <locationX>79</locationX>
        <locationY>413</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>set_varDisposition_2</targetReference>
        </connector>
        <fields>
            <name>LeadInfo_2</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Courier New&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Lead#...............: {!varLeadNumber}&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Courier New&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Borrower(s).........: {!calcFullName}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Courier New&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Email...............: {!calcEmail}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Courier New&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Borr Phone..........: {!calcB1Phone}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Courier New&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Co-Borr Phone.......: {!calcB2Phone}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Courier New&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Lead Owner..........: {!varCurrOwnName}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Courier New&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Lead Status ........: {!varStatus}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Courier New&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Channel.............: {!varChannel}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Courier New&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Last Update.........: {!calcLastUpdate}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Courier New&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FFFFFF&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Courier New&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Related Opportunity.? {!varRelatedOp}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Courier New&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;  Opportunity Stage.: {!varOppStage}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Courier New&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;  Opportunity Status: {!varOppStatus}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Courier New&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;  Last Modified Date: {!calcOppLastMod}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DispositionOptions_2</name>
            <choiceReferences>Existing_Lead_Looking_for_LO</choiceReferences>
            <choiceReferences>Servicing_Call_Incorrect_Department</choiceReferences>
            <choiceReferences>Rate_Shopping</choiceReferences>
            <choiceReferences>Invalid_Property_Type</choiceReferences>
            <choiceReferences>No_Product_Available</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>fault_0_1</name>
        <label>fault</label>
        <locationX>603</locationX>
        <locationY>294</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>testbox_1</name>
            <fieldText>Fault Screen</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorText_0_1</name>
            <fieldText>{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>fault_0_1_1</name>
        <label>fault</label>
        <locationX>432</locationX>
        <locationY>61</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>testbox_1_1</name>
            <fieldText>Fault Screen</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorText_0_1_1</name>
            <fieldText>{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>fault_0_1_2</name>
        <label>fault</label>
        <locationX>774</locationX>
        <locationY>788</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>testbox_1_2</name>
            <fieldText>Fault Screen</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorText_0_1_2</name>
            <fieldText>{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Start_for_Test</name>
        <label>Start for Test</label>
        <locationX>76</locationX>
        <locationY>174</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Setup_Test_Fields</targetReference>
        </connector>
        <fields>
            <name>textbox</name>
            <fieldText>Use this screen as a starting point to test this flow</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dispActivity</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varActivityID</elementReference>
            </defaultValue>
            <fieldText>Activity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>dispLead_ID</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varLeadID</elementReference>
            </defaultValue>
            <fieldText>Lead ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>Lookup_Lead_Data</startElementReference>
    <textTemplates>
        <name>emailBody</name>
        <text>Loan Officer {!varMyName}  took ownership of lead {!varLeadNumber} for {!varB1Name} from {!varCurrOwnName}.</text>
    </textTemplates>
    <variables>
        <name>varActivityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varActivityOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varB1Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varB2Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varB2Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varChannel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCurrMgrEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCurrMgrName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCurrOwnEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCurrOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCurrOwnMgrID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCurrOwnName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDisposition</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInputEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInputName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInputPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLastModified</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLeadNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMyManager</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMyMgrEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMyMgrName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNoInputProvided</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOppLastModDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOppStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOppStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOppSysMod</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varQueueOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRelatedOp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>No</stringValue>
        </value>
    </variables>
    <variables>
        <name>varRelatedOpp</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRelOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSysModStamp</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vB1CellPh</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vB1HomePh</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vB1WorkPh</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vB2CellPh</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vB2HomePh</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vB2WorkPh</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
