jvimalprasathdev/src/flows/CC_Lookup_Phone-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>assign_varLeadID</name>
        <label>assign varLeadID</label>
        <locationX>92</locationX>
        <locationY>553</locationY>
        <assignmentItems>
            <assignToReference>varLeadID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>optLeadList</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>clear_varLeadID</name>
        <label>clear varLeadID</label>
        <locationX>277</locationX>
        <locationY>301</locationY>
        <assignmentItems>
            <assignToReference>varLeadID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>Not_Found</name>
        <choiceText>Not Found</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </choices>
    <decisions>
        <name>Lead_was_selected</name>
        <label>Lead Found?</label>
        <locationX>90</locationX>
        <locationY>421</locationY>
        <defaultConnector>
            <targetReference>assign_varLeadID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_Not_Found</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>optLeadList</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Not_Found</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>optLeadList</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>clear_varLeadID</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Match_Found</name>
        <label>Match Found?</label>
        <locationX>82</locationX>
        <locationY>181</locationY>
        <defaultConnector>
            <targetReference>clear_varLeadID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Matching_Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lookup_Lead_by_Phone_Search_Field</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Phone_Search_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Call Capture - Lookup by Phone number</description>
    <dynamicChoiceSets>
        <name>LeadChoice1</name>
        <dataType>String</dataType>
        <displayField>Name_Lookup__c</displayField>
        <filters>
            <field>Phone_Search__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>CleanedPhoneNumber</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <sortField>Name_Lookup__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LeadChoice2</name>
        <dataType>String</dataType>
        <displayField>Name_Lookup__c</displayField>
        <filters>
            <field>Borrowers_Mobile_Phone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputPhone</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <sortField>Name_Lookup__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LeadChoice3</name>
        <dataType>String</dataType>
        <displayField>Name_Lookup__c</displayField>
        <filters>
            <field>Borrowers_Work_Phone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputPhone</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <sortField>Name_Lookup__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LeadChoice4</name>
        <dataType>String</dataType>
        <displayField>Name_Lookup__c</displayField>
        <filters>
            <field>Co_Borrowers_Home_Phone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputPhone</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <sortField>Name_Lookup__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LeadChoice5</name>
        <dataType>String</dataType>
        <displayField>Name_Lookup__c</displayField>
        <filters>
            <field>Co_Borrowers_Mobile_Phone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputPhone</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <sortField>Name_Lookup__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LeadChoice6</name>
        <dataType>String</dataType>
        <displayField>Name_Lookup__c</displayField>
        <filters>
            <field>Co_Borrowers_Work_Phone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputPhone</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <sortField>Name_Lookup__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <description>Phone number stripiped of formatting</description>
        <name>CleanedPhoneNumber</name>
        <dataType>String</dataType>
        <expression>substitute(substitute(substitute(SUBSTITUTE({!varInputPhone}, &quot;(&quot;, &quot;&quot;),&quot;)&quot;,&quot;&quot;),&quot; &quot;,&quot;&quot;),&quot;-&quot;,&quot;&quot;)</expression>
    </formulas>
    <label>CC Lookup Phone</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Lookup_Lead_by_Phone_Search_Field</name>
        <label>Lookup Lead by Phone Search Field</label>
        <locationX>77</locationX>
        <locationY>61</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Match_Found</targetReference>
        </connector>
        <filters>
            <field>Phone_Search__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>CleanedPhoneNumber</elementReference>
            </value>
        </filters>
        <object>Lead</object>
    </recordLookups>
    <screens>
        <description>Query Results:</description>
        <name>Phone_Search_Screen</name>
        <label>Phone Search Screen</label>
        <locationX>86</locationX>
        <locationY>303</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Lead_was_selected</targetReference>
        </connector>
        <fields>
            <name>optLeadList</name>
            <choiceReferences>LeadChoice1</choiceReferences>
            <choiceReferences>Not_Found</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>Lookup_Lead_by_Phone_Search_Field</startElementReference>
    <variables>
        <name>varInputPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
