jvimalprasathdev/src/flows/CC_Lookup_Email-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>assign_varLeadID</name>
        <label>assign varLeadID</label>
        <locationX>177</locationX>
        <locationY>444</locationY>
        <assignmentItems>
            <assignToReference>varLeadID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>optLeadList</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>clear_varLeadID</name>
        <label>clear varLeadID</label>
        <locationX>401</locationX>
        <locationY>445</locationY>
        <assignmentItems>
            <assignToReference>varLeadID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>Not_Found</name>
        <choiceText>Not Found</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </choices>
    <decisions>
        <name>Lead_was_selected</name>
        <label>Lead Found?</label>
        <locationX>288</locationX>
        <locationY>322</locationY>
        <defaultConnector>
            <targetReference>assign_varLeadID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_Not_Found</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>optLeadList</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Not_Found</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>optLeadList</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>clear_varLeadID</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Match_Found</name>
        <label>Match Found?</label>
        <locationX>286</locationX>
        <locationY>89</locationY>
        <defaultConnector>
            <targetReference>Lookup_Lead_by_Email_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Matching_Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lookup_Lead_by_Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Search_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Match_Found_0</name>
        <label>Match Found?</label>
        <locationX>500</locationX>
        <locationY>209</locationY>
        <defaultConnector>
            <targetReference>clear_varLeadID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Matching_Record_Found_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lookup_Lead_by_Email_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Search_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Call Capture - Lookup Email</description>
    <dynamicChoiceSets>
        <name>LeadChoice</name>
        <dataType>String</dataType>
        <displayField>Name_Lookup__c</displayField>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputEmail</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <sortField>Name_Lookup__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LeadChoice2</name>
        <dataType>String</dataType>
        <displayField>Name_Lookup__c</displayField>
        <filters>
            <field>Co_Borrowers_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputEmail</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <sortField>Name_Lookup__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <label>CC Lookup Email</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Lookup_Lead_by_Email</name>
        <label>Lookup Lead by Email</label>
        <locationX>89</locationX>
        <locationY>89</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Match_Found</targetReference>
        </connector>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputEmail</elementReference>
            </value>
        </filters>
        <object>Lead</object>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Lead_by_Email_0</name>
        <label>Lookup Lead by CB Email</label>
        <locationX>501</locationX>
        <locationY>89</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Match_Found_0</targetReference>
        </connector>
        <filters>
            <field>Co_Borrowers_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputEmail</elementReference>
            </value>
        </filters>
        <object>Lead</object>
    </recordLookups>
    <screens>
        <description>Query Results:</description>
        <name>Email_Search_Screen</name>
        <label>Email Search Screen</label>
        <locationX>287</locationX>
        <locationY>208</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Lead_was_selected</targetReference>
        </connector>
        <fields>
            <name>optLeadList</name>
            <choiceReferences>LeadChoice</choiceReferences>
            <choiceReferences>LeadChoice2</choiceReferences>
            <choiceReferences>Not_Found</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>Lookup_Lead_by_Email</startElementReference>
    <variables>
        <name>varInputEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
